@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fullscreen setup */
html,
body,
#__next {
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Prevent scrolling on the main container */
html {
  overflow: hidden;
}

/* Opsional util kecil */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
